* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    height: 100vh;
}
.menu {
    height: 100vh;
    background-color: #222222;
    color: #FFFFFF;
    width: 20%;
    max-width: 250px;
}
.menu ul {
    list-style: none;
}
.menu > ul > li {
    position: relative;
}
.menu > ul > li > a {
    display: flex;
    column-gap: 10px;
    padding: 15px 10px;
    color: #ffffff;
    align-items: center;
    text-decoration: none;
    transition: .2s;
}
.menu > ul > li:hover > a {
    background-color: #424242;
}
.menu > ul > li > ul {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #0f6674;
    width: 150px;
    visibility: hidden;
    opacity: 0;
}
.menu > ul > li > ul > li > a {
    display: block;
    padding: 10px 12px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .2s;
}
.menu > ul > li > ul > li > a:hover {
    background-color: #117b8b;
}
.menu > ul > li > ul > li > a:not(:last-child) {
    border-bottom: 1px solid #117b8b;
}
.menu > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.content {
    max-height: 100vh;
    overflow: auto;
    flex: 1;
    padding: 20px;
}

.list {
    list-style: none;
}
.list > li:not(:last-child) {
    margin-bottom: 10px;
}
.list > li a {
    color: #000000;
    text-decoration: none;
    transition: .2s;
}
.list > li a:hover {
    color: #007bff;

}
.admin-heading {
    color: #4f4f4f;
    border-bottom: 1px solid #222222;
    padding: 0 15px 10px 15px;
    margin-bottom: 32px;
    font-size: 24px;
}
.icon-link {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.admin-image-min {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.admin-form {
    max-width: 700px;
    &-buttons {
        display: flex;
        column-gap: 10px;
        margin-bottom: 24px;
    }
    &-row {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        input:not([type="submit"], [type="file"], [type="radio"]),
        textarea {
            padding: 5px 7px;
            display: block;
            width: 100%;
            resize: none;
            font-size: 16px;
            border: 1px solid #000000;
        }
        textarea {
            height: 250px;
            font-family: inherit;
        }
    }
    &-label {
        font-size: 14px;
        margin-bottom: 2px;
    }
    &-attribute {
        display: flex;
        column-gap: 14px;
        align-items: stretch;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &-add {
            display: inline-flex;
            column-gap: 8px;
            margin-top: 15px;
        }
        &-delete {
            font-size: 18px;
            cursor: pointer;
            padding: 4px 15px;
            transition: .2s;
            border-radius: 3px;
            background-color: #f2f2f2;
            &:hover {
                background-color: #c82333;
                color: #ffffff;
            }
            &.hidden {
                opacity: 0;
                cursor: default;
            }
        }
    }
}
.radio-wrap {
    list-style: none;
    li {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        label {
            cursor: pointer;
            display: flex;
            column-gap: 10px;
            align-items: center;
        }
    }
}
.btn {
    display: inline-block;
    padding: 7px 15px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #007bff;
    cursor: pointer;
    font-size: 0.8em;
    transition: .2s;
    text-decoration: none;
    color: #222222;
    &:not(:disabled):hover,
    &:not(:disabled):focus {
        background-color: #007bff;
        color: #FFFFFF;
    }
    &.green:not(:disabled) {
        border-color: #28a745;
        &:hover,
        &:focus {
            background-color: #28a745;
        }
    }
    &.red:not(:disabled) {
        border-color: #c82333;
        &:hover,
        &:focus {
            background-color: #c82333;
        }
    }
    &:disabled {
        border-color: #aaaaaa;
        color: #aaaaaa;
    }
}

.admin-table {
    min-width: 800px;
    width: 100%;
    border-collapse: collapse;
    td, th {
        padding: 10px;
        border: 1px solid #007bff;
    }
}

.info-line {
    margin-bottom: 10px;
}

.images-wrap {
    margin-top: 30px;
}
.image {
    &-elem {
        display: flex;
        padding: 15px 0;
        width: 100%;
        max-width: 300px;
        align-items: center;
        column-gap: 30px;
        justify-content: space-between;

        &:not(:last-child) {
            border-bottom: 1px solid #4f4f4f;
        }
        &.template {
            display: none;
        }
        input[type="file"] {
            display: none;
        }
        &-delete {
            font-size: 18px;
            cursor: pointer;
            padding: 4px 15px;
            transition: .2s;
            border-radius: 3px;
            background-color: #f2f2f2;
            &:hover {
                background-color: #c82333;
                color: #ffffff;
            }
            &.hidden {
                opacity: 0;
                cursor: default;
            }

        }
    }
}

.dashboard {
    &-row {
        display: flex;
        column-gap: 30px;
        row-gap: 30px;
        max-width: 1200px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    &-elem {
        border: 1px solid #007bff;
        padding: 20px;
        flex: 1;
        &-title {
            font-size: 22px;
            margin-bottom: 20px;
        }
        &-number {
            font-size: 48px;
            color: #007bff;
        }
        &-date {
            font-size: 36px;
            color: #007bff;
        }
    }
}

.order-status {
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;

    &--red {
        background-color: #bd2130;
    }
    &--orange {
        background-color: #d39e00;
    }
    &--green {
        background-color: #28a745;
    }
}

.filter {
    margin-bottom: 30px;
    &__title {
        font-size: 18px;
        margin-bottom: 7px;
    }
    &__row {
        display: flex;
    }
    &__select {
        padding: 6px;
        margin-right: 20px;
        background-color: #FFFFFF;
        bordeer: 1px solid #000000;
        border-radius: 4px;
        padding: 3px;
    }
}

.table-div-admin{
    overflow: auto;
}